// Define variables for your color scheme

// For example:
$red: #F56980;
$dark-red: #C1464D;
$blue: #00B4F0;
$dark-blue: #009CCF;
$navy: #3E4B59;
$yellow: #FDB631;
$orange: #F08B1D;
$dark-orange: #C57218;
$green: #2BB673;
$dark-green: #208554;
$gray: #5A5A5A;
$light-gray: #E9F0F2;
$dark-gray: #414042;
