<footer class="footer-distributed">

  <div class="footer-left">
    <h3>Charitto</h3>
    <p class="footer-links">
      <a href="#">Home</a>
      ·
      <a href="#">Blog</a>
      ·
      <a href="#">Pricing</a>
      ·
      <a href="#">About</a>
      ·
      <a href="#">Faq</a>
      ·
      <a href="#">Contact</a>
    </p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fas fa-map-marker-alt"></i>
      <p>223-Street, Tokyo, Japan</p>
    </div>

    <div>
      <i class="fas fa-phone"></i>
      <p>+1 555 123456</p>
    </div>

    <div>
      <i class="fas fa-envelope"></i>
      <p><a href="mailto:support@company.com">contact@charitto.com</a></p>
    </div>

  </div>

  <div class="footer-right">
    <p class="footer-company-about">Follow Us</p>
    <div class="footer-icons">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>

  </div>
  <p class="footer-company-name">Charitto &copy; 2018</p>
</footer>
