.banner {
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("http://res.cloudinary.com/dgugqcsvk/image/upload/v1533812610/background-home.jpg");
  background-size: cover;
  background-position: center;
  h1 {
    color: white;
    font-size: 40px;
    font-family: $logo-font;
    font-weight: bold;
  }
  p {
    color: white;
    opacity: .8;
    font-size: 24px;
    font-weight: lighter;
    margin-bottom: 30px;
  }
}
