.btn-green {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: $green;
  transition: background 0.3s ease;

  &:hover {
    opacity: 1;
    background: $dark-green;
    text-decoration: none;
    color: white;
  }
}

.btn-orange {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: $orange;
  transition: background 0.3s ease;

  &:hover {
    opacity: 1;
    background: $dark-orange;
    text-decoration: none;
    color: white;
  }
}
