<div class="container">
  <div class="row">
    <h1>キャンペーン一覧</h1>
    <% @campaigns.each do |campaign| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= cl_image_tag campaign.image_url %>
          <div class="caption">
            <h3><%= link_to campaign.name, campaign_path(campaign) %></h3>
            <p><%= campaign.organization.name %></p>
            <p>値段：<%= humanized_money_with_symbol(campaign.price) %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
