<div class="background-login">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <div class="form-login">
          <h2>企業＆サポーター登録</h2>
          <%= render "form", organization: @organization %>
        </div>
      </div>
    </div>
  </div>
</div>
