<div class="container">
  <div class="row">
    <%= @organization.name %>
    <% if policy(@organization).update? %>
      <%= link_to "変更 |", edit_organization_path(@organization), class: "" %>
      <%= link_to "削除", organization_path(@organization), class: "", method: :delete, data: { confirm: "削除しますか？" }  %>
    <% end %>
  </div>
</div>



